//
//  Release-development.xcconfig
//  Runner
//
//  Created by Mark van der Kort on 11/09/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Generated.xcconfig"

bundle_suffix=.development
app_display_name=wildgidss
